* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	background-color: #f3f3f3;
	background-image: url('img/bg.png');
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
}

h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
}

body {
	padding: 30px 0;
}

hr {
	border-style: solid none none none;
	border-width: 1px 0 0 0;
	border-color: #eee transparent transparent transparent;
	margin: 35px 0;
}

img,
object {
	max-width: 100%;
}

.project-thumbnail {
	padding: 5px;
	background-color: #bbb;
	background-color: rgba(187, 187, 187, 0.25);
	max-width: 300px;
}

.project-thumbnail * {
	margin: 0;
	padding: 0;
}

.center-content {
	margin: 0 auto;
	max-width: 1100px;
	width: 95%;
}

.track-box {
	margin: 20px 0;
}

a {
	color: #ff6600;
	text-decoration: none;
}

a:visited {
	color: #dd3300;
}

a:hover {
	color: #ff6600;
	border-bottom-style: solid;
	border-bottom-color: #ff6600;
	border-bottom-width: 1px;
}

.no-style:hover {
	border: none;
}

h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
	color: #ff6600;
}

.section-header {
	margin-top: 0;
	margin-left: -60px;
	padding: 0 20px 0 40px;
	background-color: #ff6600;
	color: white;
	display: inline-block;
	position: relative;
	box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.125);
}

.white-area {
	background-color: white;
	background-color: rgba(255, 255, 255, 0.7);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	padding: 40px;
}

.copyright-message {
	padding: 0 40px;
}

.feint-color {
	color: #333;
}

@media only sreen and (min-width: 1240px) {
	.center-content {
		max-width: 1240px;
		width: 1240px;
	}
}

@media only screen and (min-width: 1120px) {
	html {
		font-size: 1.25em;
	}
}

@media only screen and (min-width: 960px) and (max-width: 1120px) {
	html {
		font-size: 1.125em;
	}
}

@media only screen and (min-width: 960px) {
	.section-header {
		padding: 0 20px 0 60px;
	}
	
	.section-header:after {
		content: ' ';
		position: absolute;
		width: 0;
		height: 0;
		left: 0px;
		top: 100%;
		border-width: 5px 10px;
		border-style: solid;
		border-color: #ff5500 #ff5500 transparent transparent;
	}
}

@media only screen and (max-width: 959px) {
	body {
		padding: 0;
	}
	
	.center-content {
		width: 100%;
	}
	
	.section-header {
		margin-left: -40px;
	}
}

@media only screen and (min-width: 720px) {
	.first-column {
		width: 30%;
		margin-right: 3%;
		float: left;
		clear: right;
	}
	
	.middle-column {
		width: 30%;
		margin-left: 1.5%;
		margin-right: 1.5%;
		float: left;
		clear: right;
	}
	
	.last-column {
		width: 30%;
		margin-left: 3%;
		float: left;
		clear: right;
	}
	
	.clear {
		clear: both;
	}
}