body
{
	margin-top: 72px;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
}

h1
{
	font-size: 24px;
	font-weight: bold;
}

a:link
{
	color: #335DA0;
	
	text-decoration: none;
	
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #335DA0;
}

a:visited
{
	color: #C446DF

	text-decoration: none;
	
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #C446DF;
}

a:active
{
	text-decoration: none;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #333;
}

a:hover
{
	color: #white;

	text-decoration: none;
	
	background-color: #335DA0;
	
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #335DA0;
}

code
{
	font-family: monospace;
	line-height: 1.5em;
}

header .headarea
{
	margin-bottom: 18px;	
}
	
header .headarea h1, header .headarea p.one-line
{
	display: inline;
	margin-bottom: 18px;
}
