.intro-text {	
	border-bottom-color: rgba(0, 0, 0, 0.5);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.125);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.125);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.125);
	padding: 10px;
}

.intro-text > p {
	font-size: 1.5em;
	line-height: 1em;
	margin-bottom: 12px;
}

.intro-image {
	background-image: url('img/skateboarder.jpg');
	width: 960px;
	height: 229px;
	margin-bottom: 12px;
}

.portrait {
	sbackground-color: #666;
	background-image: url('img/bg-portrait.png');
	color: #fff;
	padding: 10px;
}

.portrait-image {
	margin-bottom: 0;
}

.portrait-title {
	color: #ff5e5e;
	margin-bottom: 5px;
}