html {
	background-color: #1f1f1f;
	background-image: url('img/bg.png');
	color: #aaa;
	font-family: Abel, Helvetica, Arial, sans-serif;
	font-size: 100%;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}

body {
	background-image: url('img/bg-graffiti.jpg');
	background-position: center top;
	background-repeat: no-repeat;
}

h1,
h3,
h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

h1,
h3,
h4,
p {
	margin-bottom: 24px;
}

h1 {
	font-size: 1.5em;
	line-height: 1em;
}

h3 {
	font-size: 1.25em;
	line-height: 1.2em;
}

h4 {
	font-size: 1.125em;
	line-height: 1.333333em;
}

p {
	line-height: 1.5em;
	font-size: 1em;
}

sup { 
	vertical-align: super;
	font-size: 0.625em;
}
sub { vertical-align: sub; }

header {
	position: relative;
}

.content,
.sidebar {
	float: left;
	clear: right;
}

.inner {
	padding: 0 0 0 15px;
}

.content {
	width: 640px;
}

.sidebar {
	width: 320px;
}

header {
	padding-left: 10px;
	font-size: 1.25em;
	line-height: 1em;
}

a,
a:link {
	padding-top: 0;
	padding-bottom: 0;
	color: #ff2626;
	text-decoration: none;
}

a:visited {
	color: #4c799a;
}

a:hover {
	background-color: #ff2626;
	border-bottom-color: #aaa;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	color: #aaa;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}

.top-left-grunge,
.top-right-grunge,
.bottom-left-grunge,
.bottom-right-grunge { background-repeat: no-repeat; }

.bottom-grunge,
.top-grunge { background-repeat: repeat-x; }

.top-left-grunge,
.top-grunge {
	background-position: top left;
}

.top-right-grunge,
.right-grunge { background-position: top right; }

.bottom-left-grunge,
.bottom-grunge { background-position: bottom left; }

.bottom-right-grunge { background-position: bottom right; }

.top-left-grunge { background-image: url('img/top-left-grunge.png'); }
.top-right-grunge { background-image: url('img/top-right-grunge.png'); }
.bottom-left-grunge { background-image: url('img/bottom-left-grunge.png'); }
.bottom-right-grunge { background-image: url('img/bottom-right-grunge.png'); }
.top-grunge { background-image: url('img/top-grunge.png'); }
.bottom-grunge { background-image: url('img/bottom-grunge.png'); }

.top {
	height: 3px;
	background-color: #ff2626;
	background-image: url('img/bg-nav.png');
	margin-bottom: 20px;
}

.moto {
	color: #909090;
	font-size: 1.25em;
	text-align: center;
	width: 960px;
}

.share {
	margin-bottom: 0px;
	text-align: right;
}

.share span {
	display: inline-block;
}

.right-head {
	bottom: 0;	
	position: absolute;
	right: 0;
	text-align: right;
}

.right-head p {
	margin-bottom: 0;
	padding-bottom: 0;
}

.right-head strong {
	font-weight: bold;
}

.time-and-place {
	font-size: 0.75em;
}

.x {
	color: #ff2626;
	font-family: "Arial Black", Arial, Helvetica, sans-serif;
	margin-left: 5px;
}

.ted {
	color: #ff2626;
	font-family: "Arial Black", Arial, Helvetica, sans-serif;
}

.big-header {
	font-family: 'Carme', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: normal;
	margin-bottom: 0;
	position: replative;
}

.nav {
	background-color: #ff2626;
	background-image: url('img/bg-nav.png');
	color: #fff;
	font-size: 1.125em;
	width: 1020px;
	margin-left: -30px;
	position: relative;
}

nav {
	text-align: center;
}

nav li {
	display: inline;
}

nav li a,
nav li a:link {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 40px;
	display: inline-block;
	
	margin: 0;
	
	color: #fff;
	
	border-bottom-color: transparent;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	
	/* Internet Explorer stuff. */
	zoom: 1;
	*display:inline;
	_height: 30px;
}

nav li a:visited {
	color: #fff;
	
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 3px;
}

nav li a:hover {
	border-bottom-color: #880000;
	border-bottom-style: solid;
	border-bottom-width: 3px;
}

.main {
	background-color: #2d2d2d;
	background-image: url('img/bg-main.png');
	-webkit-box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.25);
	box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.25);
	margin-bottom: 24px;
}

.copy {
	color: #aaa;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.625em;
	padding-bottom: 24px;
}

.padding-bottom {
	padding-bottom: 24px;
}

/* These are the two ribbon "curls". The :before curl is placed to the left, :after to the right */
.nav:before, .nav:after {
	border-color: #430a0a;
	border-style: solid;
	border-width: 0;
	border-top-width: 15px; /* This sets the height of the curls, making it half the width to angle the curls more. */
	content: ''; /* Tells the browser to actually generate the pseudo element */
	position: absolute;
}
.nav:before {
	/* Position the :before element to the left and below the ribbon element */
	left: -10;
	bottom: -15px; /* Equal to the height of the curl */
	border-left: 30px solid transparent; /* Makes the curl slant right */
}
.nav:after {
	/* Position the :after element to the right and below the ribbon element */
	left: 990px;
	bottom: -15px; /* Equal to the height of the curl */
	border-right: 30px solid transparent; /* Makes the curl slant left */
}