.clear
{
	clear:both;
}

#tweets h1
{
	font-size: 1.125em;
	font-weight: bold;
	display: inline;
}

#tweets a
{
	border: none;
}

#tweets header,
#tweets article
{
	margin-bottom: 7px;
}

#tweets footer
{
	font-size: 0.75em;
	margin-top: 5px;
}

#tweets {
	position: relative;	
}

.tweet img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: 1px 1px 2px #101010;
	-moz-box-shadow: 1px 1px 2px #101010;
	box-shadow: 1px 1px 2px #101010;

	position: absolute;
}

#tweets table td.profile-picture {
	width: 58px;
}

.loading-box
{
	margin-top: 50px;
	text-align: center;
	font-size: 0.8em;
	color: #999;
}

.loading-box .spinner
{
	float: center;
	
	text-align: center;
	
	width: 16px;
	height: 16px;
	padding-top: 10px;
	margin: 0 auto;
}

#search-bar table
{
	width: 100%;
}

#search-bar #search-box
{
	width: 100%;
	padding-right: 25px;
}

#search-bar #search-box #search-term
{
	width: 100%;
}

#search-bar #search-button
{
	width: 6em;
}

#top-tweets-bar
{
	line-height: 1.7em;
}