#tooltip
{
	/* Typography */
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.4em;
	color: white;

	/* Box */
	max-width: 300px;
	position: absolute;
	padding: 5px;
	
	/* Some pazzazz */
	background-color: black;
	border-radius: 5px;

	/* This is the default */
	display: none;
}

#tooltip-temp { 
	/* Typography */
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.4em;
	color: black;
	
	display: inline;
}