<!docytpe html>

<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<meta name="description" content="I am a hobbyist programmer, and I also happen to make music during my spare time.">	
		<meta name="keywords" content="programmer, musician">
		
		<meta name="viewport" content="width=device-width">
		
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/style.css">
		
		<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-19354344-2']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

		</script>
	</head>
	
	<body>
		<div class="center-content">
			<div class="white-area">
				
				{{ content }}
				
			</div>
			
			<div class="copyright-message">
				<p>
					<small>Copyright &copy; 2012 Salehen Shovon Rahman. All rights reserved. | <a href="{{ site.base_url }}/sitemap/">Sitemap</a></small>
				</p>
			</div>
		</div>
	</body>

</html>