@font-face {
    font-family: 'League-Gothic';
    src: url('webfonts/League Gothic.otf') format("opentype");
}

html {
	font-size: 100%;
	font-family: Garamond, Georgia, 'Times New Roman', Times, sans-serif;
}

.centered-text {
	text-align: center;
}

.cool-text {
	color: #534b41;
	font-family: 'League-Gothic', Helvetica, Arial, sans-serif;
	font-size: 10em;
	font-weight: bold;
	text-shadow: 2px 2px 0 white, 4px 4px 0 #534b41;
	text-transform: uppercase;
}